.container{
	width: 250px;
	height: 800px;
	border-style: solid;
	padding: 10px;
}
.amount{
	border-bottom-style: solid;
	border-bottom-width:  2px;
	font-size: 10pt;
}
.header {
	border-bottom-style: solid;
	border-bottom-width:  5px;
	margin-bottom: 0px;
}
.top_part {
	border-bottom-style: solid;
}
.with{
	position: relative;
	left:  200px;
	line-height: 2px;
}
.with p{
	margin-top: 8px;
	padding-right: 10px;
}
#amount{
	padding-right: 50px;
}
#cereal{
	padding-right: 20px;
}
.table{

}

.col1{
	margin-left: 0px;
	width: 170px;
	text-align: left;
}
.col2{
	width: 10px;
	text-align: right;
}
.col3{
	width: 50px;
	text-align: right;
}
.fromfat {
	padding-left: 10px;
}
.daily{
	border-bottom-style: solid;
	border-bottom-width:  7px;
}